.subjects-container {
    box-sizing: border-box;
    height: 50vh;
    border: 2px black solid;
    padding: 5px;
    border-radius: 10px;
    overflow-y: scroll;
}

.subject-name {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.subject-name:nth-child(2n) {
    background-color: rgba(168, 168, 168, 0.29);
}
