.select-container {
  height: 30vh;
  overflow-y: scroll;
    padding: 0px 5px 5px;
    margin-bottom: 10px;
}

.select-title {
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  border-bottom: 2px gray solid;
  background: white;
  padding-bottom: 5px;

}
.item-name {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.item-name:nth-child(2n) {
    background-color: rgba(168, 168, 168, 0.29);
}


.table-column {
    min-width: 4rem;
}
